run = "bash start.sh"
entrypoint = "backend/main.py"
hidden = [".config", ".upm", ".gitignore", "__pycache__"]

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "${REPL_HOME}"

[deployment]
run = [".venv/bin/python", "backend/main.py"]

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000
